/* Settings */
textarea.wide-input, select.wide-input {
	width: 100%;
}

/* Metaboxes Custom Actions */
.inspire-panel .metabox-actions {
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	clear: both;
	padding: 10px;
}

#submitdiv2 #major-publishing-actions {
	margin-top: -7px;
}

.inspire-panel .actions .button {
	margin: 0 5px 10px 0;
}

/* Publish Metabox Edits */


body.post-type-inspire_invoice #submitdiv h3 {
	border-bottom: 0;
}

/**
 # Meta boxes styles.
 */
.inspire-panel p:after, .inspire-panel .form-field:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.inspire-panel p, .inspire-panel .form-field, .inspire-panel div.hard-candy {
	margin: 9px 0;
	padding: 5px 3px;
}

.inspire-panel label {
	float: left;
	line-height: 24px;
	padding: 0;
	width: 150px;
}

#options .form-field input {
	width: 160px;
}

.inspire-panel input.fluid, .inspire-panel textarea.fluid {
	width: calc(100% - 150px);
}

.inspire-panel input.medium, .inspire-panel textarea.medium {
	width: 25em;
}

.inspire-panel input.short, .inspire-panel textarea.short {
	width: 20%;
}

.inspire-panel input.currency {
	width: 100px;
}

.inspire-panel .lonely label {
	float: none;
	width: auto;
}

.inspire-panel .lonely input {
	float: none;
	width: auto;
}

.inspire-panel .options-group {
	border-bottom: 1px solid #DFDFDF;
	border-top: 1px solid #FFFFFF;
}

.inspire-panel .options-group:first-child {
	border-top: 0;
}

.inspire-panel .options-group:last-child {
	border-bottom: 0;
}

.inspire-panel .options-group:last-child p {
	margin-bottom: 0;
}

/**
 # End Meta Boxes.
 */

/* Select2 */
.select2-container li {
	margin-bottom: 0;
}

.tablenav .select2-container {
	float: left;
	margin: 1px 6px 1px 1px;
	max-width: 200px;
	vertical-align: middle;
}

#inspire_invoice_client_select_wrap {
	display: inline-block;
	margin-right: 10px;
}

#inspire_invoice_client_select_wrap .select2-container {
	width: 100%;
}

.select2-container.select2-container--default .select2-selection--single .select2-selection__rendered {
	font-size: 14px;
	line-height: 26px;
}

/* Table */
table.products {
	border-collapse: collapse;
	margin-bottom: 12px;
}

table.products input, table.products select, table.products textarea {
	font-size: 12px;
}

table.products input {
	width: 100%;
}

table.products th, table.products td {
	border: 1px solid #e5e5e5;
}

table.products th {
	font-size: 12px;
}

table.products th.product-title {
	width: 30%;
}

table.products tbody td.discount {
	position: relative;
}

table.products tbody td.discount input {
	width: 90%;
}

table.products th.product-actions {
	width: 20px;
}

table.products a.remove_product {
	color: #a00;
	display: inline-block;
	padding: 3px 0 0;
}

table.products a.remove_product:hover {
	color: red;
}

table.products select {
	height: 25px;
	line-height: 25px;
	margin: 0;
}


.wc_error_tip {
	color: #fff;
	font-size: .8em;
	text-align: center;
	border-radius: 3px;
	padding: .618em 1em;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	max-width: 20em;
	line-height: 1.8em;
	position: absolute;
	white-space: normal;
	background: #d82223;
	margin: 1.5em 1px 0 -1em;
	z-index: 9999999;
}

.wc_error_tip:after {
	content: "";
	display: block;
	border: 8px solid #d82223;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
	position: absolute;
	top: -3px;
	left: 50%;
	margin: -1em 0 0 -3px;
}

.is_duplicated {
	color: red;
}

tr.signature-user {
	display: none;
}

.inside .main {
	padding-bottom: 10px;
}

.remove-disabled {
	text-decoration: none;
	display: inline-block;
	padding: 3px 4px;
	box-shadow: none;
	outline: 0;
}

.remove-disabled:focus {
	box-shadow: none;
	outline: 0;
}

.column-wc_actions p p {
	display: none;
}

.amount-error {
	color: red;
}

@media screen and (max-width: 1280px) {
	.fixed .column-client_country,
	.fixed .column-netto,
	.fixed .column-products,
	.fixed .column-taxes,
	.fixed .column-sku,
	.fixed .column-pay,
	.fixed .column-sale,
	.fixed .column-order,
	.fixed .column-status,
	.fixed .column-currency {
		display: none ! important;
	}
}

@media screen and (max-width: 782px) {

	.fixed .column-client_vat_number,
	.fixed .column-client_filtered {
		display: none ! important;
	}

	.wp-list-table tr:not(.inline-edit-row):not(.no-items) td:not(.column-primary)::before {
		display: none;
	}
}


.ocs-meta-box {
	display: flex;
}

.ocs-meta-box .ocs-meta-col {
	padding: 0 20px;
	border-left: 1px solid #EEE;
	width: 33.3%;
}

.ocs-meta-box div.ocs-meta-col:first-child {
	padding-left: 0;
	border-left: 0;
}

.ocs-meta-box div.ocs-meta-col:last-child {
	padding-right: 0;
}

.ocs-meta-box .inspire-panel label {
	float: none;
	width: auto;
	display: block;
}

.ocs-meta-box .inspire-panel input, .ocs-meta-box .inspire-panel textarea {
	width: 100%;
}

.ocs-meta-box .inspire-panel .form-field {
	margin: 0 0 5px;
	padding: 0 0;
}

@media screen and (max-width: 1020px) {
	.ocs-meta-box {
		flex-direction: column;
	}

	.ocs-meta-box .ocs-meta-col {
		border: 0;
		padding: 0 0;
		width: 100%;
	}

	.ocs-meta-box div.ocs-meta-col:first-child {
		padding: 0 0;
	}

	table.products {
		display: block;
	}

	table.products thead {
		display: none;
	}

	table.products tbody {
		display: block;
		border-bottom: 1px solid #EEE;
		width: 100%;
	}

	table.products td {
		display: block;
		border: 0;
		width: 100%;
	}

	table.products tr {
		display: block;
		border-bottom: 1px solid #EEE;
		width: 100%;
	}
}

.flex-container {
	display: flex;
}

.flex-col {
	flex: 1;
}

.ocs-meta-box .flex-container .flex-col {
	padding: 0 5px;
}

.ocs-meta-box .flex-container .flex-col:first-child {
	padding-left: 0;
}

.ocs-meta-box .flex-container .flex-col:last-child {
	padding-right: 0;
}

.ocs-meta-box button {
	border: 0;
	background: none;
	cursor: pointer;
}

.display .inspire_invoices_owner_name {
	font-weight: 700;
}

.display > div {
	padding: 2px 0;
}

.invoice-edit-display .display {
	display: block;
}

.invoice-edit-display .edit_data {
	display: none;
}

.custom-img-container img {
	max-width: 120px !important;
	max-height: 120px !important;
	height: auto !important;
	width: auto !important;
}

.inspire_invoices_owner_logo img {
	max-width: 120px !important;
	max-height: 120px !important;
	height: auto !important;
	width: auto !important;
}

.fi-download-email-links p {
	display: inline-block;
}


body.post-type-inspire_invoice #minor-publishing {
	display: none;
}

body.post-type-inspire_invoice #major-publishing-actions {
	margin: 0 0;
	padding: 0 0;
}

body.post-type-inspire_invoice #delete-action,
body.post-type-inspire_invoice #publishing-action {
	padding: 10px;
}

body.post-type-inspire_invoice #major-publishing-actions .fi-download-email-links .button {
	margin-right: 5px;
}

.option-form-wrap {
	background-color: #FFF;
	padding: 10px;
}

.option-form-wrap .form-field:first-child {
	margin-top: 0;
}

.fi-download-email-links p {
	display: inline-block;
}

.fi-download-email-links a.email-send {
	border-color: green;
	color: green;
}

.column-fi_actions {
	width: 100px ! important;
}

#products .inside {
	margin: 0 0 10px 0;
	padding: 0 0;
}

#products table {
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
}

#products thead tr th {
	border-top: 0;
}

#products thead tr th:first-child {
	border-left: 0;
}

#products thead tr th:last-child {
	border-right: 0;
}

#products tbody tr td:first-child {
	border-left: 0;
}

#products tbody tr td:last-child {
	border-right: 0;
}

#products tbody tr:last-child td {
	border-bottom: 0;
}

button.add_product {
	padding: 3px;
	cursor: pointer;
	border-radius: 0 !important;
	margin-bottom: 10px;
	margin-left: 10px !important;
}
button.add_product_correction {
	padding: 3px;
	cursor: pointer;
	border-radius: 0 !important;
	margin-bottom: 10px;
	margin-left: 10px !important;
}

#menu-posts-inspire_invoice ul.wp-submenu li:last-child a {
	color: #00FFC2 !important;
}


