

.post-type-shop_order .wp-list-table .column-fi_actions a.button {
	text-indent: 9999px;
	margin: 2px 0 2px 4px;
}

.widefat .column-fi_actions a.button {
	text-indent: -9999px;
	position: relative;
	display: inline-block;
	margin: 2px 4px 2px 0;
	height: 2em !important;
	width: 2em;
	overflow: hidden;
	vertical-align: middle;
	padding: 0 !important;
}

.widefat .column-fi_actions a.create-correction {
	border: 1px solid #B29700;
	color: #B29700;
}

.widefat .column-fi_actions a.button::after {
	font-family: Dashicons;
	speak: never;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 1.85;
	margin-top: 2px;
}

.post-type-shop_order .wp-list-table .column-fi_actions a.button {
	text-indent: 9999px;
	margin: 2px 4px 2px 0;
}

.widefat .column-fi_actions a.view-document {
	text-indent: 0 !important;
	width: auto;
	padding: 0 4px !important;
	border: 0;
	background: none;
}

.widefat .column-fi_actions a {
	background: none;
}


.widefat .column-fi_actions a.generate-document::after {
	content: "\f132" !important;
}

.widefat .column-fi_actions a.get-document::after {
	content: "\f316" !important;
}

.widefat .column-fi_actions a.create-correction::after {
	content: "\f186" !important;
}
.widefat .column-fi_actions a.create-invoice::after {
	content: "\f495" !important;
}

.widefat .column-fi_actions a.send_document::after {
	content: "\f465" !important;
}

.fi-download-email-links a.email-not-send {
	border-color: red;
	color: red;
}

.fi-download-email-links a.email-send {
	border-color: green;
	color: green;
}

.column-fi_actions {
	width: 140px ! important;
}


a.document-generated {
	color: green !important;
}

.fi_actions .fi-download-email-links {
	display: inline-block;
}

.fi_actions p {
	display: inline-block;
	margin: 2px 0 0 !important;
}

/**
 * Order meta box
 */

#flexible-invoices-woocommerce .inside p {
	margin: 0 0 10px;
}

#flexible-invoices-woocommerce .inside a.button {
	margin-right: 5px;
}



.order_notes .fi-note .note_content {
	background-color: #eee7cc;
}

.order_notes .fi-note .note_content:after {
	border-color: #eee7cc transparent;
}

.fi-download-email-links p {
	display: inline-block;
}
